.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

test/
.idea/
.metadata
query_builder.iml
pubspec.lock
ios/
android/
QueryBuilder.iml
